.weekly-price-container
  - if @listing_presenter.shape[:price_enabled]
    = form.label :weekly_price, t(".weekly_price")
    = form.text_field :weekly_price, :class => "price-field", :maxlength => "10", :placeholder => "0", :value => (@listing.weekly_price ? @listing.weekly_price.to_s: 0)
    = render partial: "listings/form/price_currency", locals: {form: form}
    .quantity-description
      = t(".per")
      = t(".week")

.monthly-price-container
  - if @listing_presenter.shape[:price_enabled]
    = form.label :monthly_price, t(".monthly_price")
    = form.text_field :monthly_price, :class => "price-field", :maxlength => "10", :placeholder => "0", :value => (@listing.monthly_price ? @listing.monthly_price.to_s: 0)
    = render partial: "listings/form/price_currency", locals: {form: form}
    .quantity-description
      = t(".per")
      = t(".month")      
